".source.po":
  "Message ID":
    prefix: "id"
    body: '''
      msgid "${1:original text}"

    '''
  "Message String":
    prefix: "str"
    body: "msgstr \"${1:translated text}\""

  "Context":
    prefix: "ctx"
    body: "msgctxt \"${1:context}\""

  'New simple Message':
    prefix: 'msg'
    body: 'msgid "$1"\nmsgstr "$2"\n'

  'New Message in a context':
    prefix: 'msgc'
    body: 'msgctxt "$1"\nmsgid "$2"\nmsgstr "$3"\n'
